#circle {
	position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background: red;
}
#score {
	width: 100%;
	height: 100%;
	left:0px;
	top:0px;
	position: absolute;
}
#levelbar {
	position: fixed;
    left:0;
	top:0;
    width:100px;
    height:5px;
    background: white;
}
#text {
	position: fixed;
	left: 0;
	top: 7.5%;
	width: 100%;
	text-align: center;
	margin: 0;
	color: #6a9dc4;
	user-select:none;
    text-shadow: 2px 0 0 #6f7b84, -2px 0 0 #6f7b84, 0 2px 0 #6f7b84, 0 -2px 0 #6f7b84, 1px 1px #6f7b84, -1px -1px 0 #6f7b84, 1px -1px 0 #6f7b84, -1px 1px 0 #6f7b84;
}
#lifetimetext {
    position: fixed;
	left: 0;
	top: 1.5%;
	width: 100%;
	text-align: center;
	margin: 0;
	color: #6a9dc4;
	user-select:none;
    text-shadow: 2px 0 0 #6f7b84, -2px 0 0 #6f7b84, 0 2px 0 #6f7b84, 0 -2px 0 #6f7b84, 1px 1px #6f7b84, -1px -1px 0 #6f7b84, 1px -1px 0 #6f7b84, -1px 1px 0 #6f7b84;
}
#sizetext {
    position: fixed;
	left: 0;
	top: 4.5%;
	width: 100%;
	text-align: center;
	margin: 0;
	color: #6a9dc4;
	user-select:none;
    text-shadow: 2px 0 0 #6f7b84, -2px 0 0 #6f7b84, 0 2px 0 #6f7b84, 0 -2px 0 #6f7b84, 1px 1px #6f7b84, -1px -1px 0 #6f7b84, 1px -1px 0 #6f7b84, -1px 1px 0 #6f7b84;
}
#time {
	position: absolute;
	margin: 0;
	color: #888888;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 150px;
	text-align: center;
	user-select: none;
        text-shadow: 2px 0 0 #6f7b84, -2px 0 0 #6f7b84, 0 2px 0 #6f7b84, 0 -2px 0 #6f7b84, 1px 1px #6f7b84, -1px -1px 0 #6f7b84, 1px -1px 0 #6f7b84, -1px 1px 0 #6f7b84;
}
#timebox {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#blankbox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	display: block;
}
#targetbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	display: block;
}
#targetbox2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}